a:hover{
  text-decoration:none;
}
div#heatmap{
  display:flex;
  justify-content:start;  
  width:800px;
}
#mainapp{
  overflow-x:scroll;
  display:flex;
  justify-content:center;
}

div#tooltip{
  position:absolute;
  padding:10px;
  boarder-radius:10px;
  text-align:center;
  background-color:gold;
}
#about div.container{
  width:800px;
}

@media screen and (max-width:570px){
 #about .container, header, footer{
    width:auto !important;
  }
}
@media screen and (max-width:800px){
  #mainapp{
    justify-content:start;
  }
}



